services:
  front-end:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: ${AWS_ECR_PREFIX}/sunlog.dev/frontend:latest
    environment:
      - NODE_ENV=${NODE_ENV}
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - API_URL=${API_URL}
    volumes:
      - ./frontend/src:/app/src
    ports:
      - "3001:3000"
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: ${AWS_ECR_PREFIX}/sunlog.dev/api:latest
    environment:
      - PORT=3000
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
      - JWT_REFLESH_SECRET=${JWT_REFRESH_SECRET}
      - NODE_ENV=${NODE_ENV}
    depends_on:
      - postgres
      - redis
    ports:
      - "${HTTP_PORT}:3000"
  postgres:
    image: postgres:16.3
    restart: on-failure
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  nginx:
    image: nginx
    volumes:
      - ./nginx.prod.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - api
    ports:
      - "80:80"
      - "443:443"
  redis:
    image: redis:8.4
    container_name: redis
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD} 
    command: >
      redis-server
      --save 86400 1
      --appendonly no
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
volumes:
  postgres:
  front-end:
  redis_data:
