services:
  front-end:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    environment:
      - NODE_ENV=${NODE_ENV}
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - API_URL=${API_URL}
    volumes:
      - ./frontend/src:/app/src
    ports:
      - "3001:3000"
    labels:
      logging: "promtail"
      service: "frontend"

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    environment:
      - PORT=3000
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
      - JWT_REFLESH_SECRET=${JWT_REFRESH_SECRET}
      - NODE_ENV=${NODE_ENV}
    depends_on:
      - postgres
      - redis
    volumes:
      - ./backend/src:/app/src
    ports:
      - "${HTTP_PORT}:3000"
    labels:
      logging: "promtail"
      service: "api"

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile.dev
    environment:
      - PORT=3000
      - NODE_ENV=${NODE_ENV}
      - RABBITMQ_URL=${RABBITMQ_URL}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - SES_FROM=${SES_FROM}
    depends_on:
      - rabbitmq
    volumes:
      - ./worker/src:/app/src
    ports:
      - "3002:3000"
    labels:
      logging: "promtail"
      service: "worker"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    labels:
      logging: "promtail"
      service: "rabbitmq"

  postgres:
    image: postgres:16.3
    restart: on-failure
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    labels:
      logging: "promtail"
      service: "postgres"

  redis:
    image: redis:8.4
    container_name: redis
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: >
      redis-server
      --save 86400 1
      --appendonly no
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    labels:
      logging: "promtail"
      service: "redis"

  nginx:
    image: nginx
    volumes:
      - ./nginx.dev.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - api
    ports:
      - "80:80"
      - "443:443"
    labels:
      logging: "promtail"
      service: "nginx"

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_LISTEN_PORT: 5050
    network_mode: host
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    labels:
      logging: "promtail"
      service: "pgadmin"

  loki:
    image: grafana/loki:2.9.0
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/loki

  promtail:
    image: grafana/promtail:2.9.0
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3003:3000"
    environment:
      - GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/etc/grafana/dashboards
      - grafana_data:/var/lib/grafana
  prometheus: 
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml


volumes:
  postgres:
  pgadmin_data:
  redis_data:
  rabbitmq_data:
  loki_data:
  grafana_data:
